#content #polls.index {
  border: none;
  border-collapse: collapse;
}
#content #polls.index .responses {
  padding-right: 2em;
  text-align: right;
}
#content #polls.index .reset {
  padding-left: 0;
  width: 140px;
}
#content #polls.index .reset a {
  background: url("../../images/admin/polls/recycle.png") no-repeat scroll 4px 0 transparent;
  color: black;
  font-size: 80%;
  padding: 0 0 0 20px;
  text-decoration: none;
}
#content #polls.index th.modify {
  text-align: center;
}
#content #polls.index .node .poll,
#content #polls.index .node .responses {
  font-size: 115%;
  font-weight: bold;
}
#content #polls.index .node .responses .none {
  color: #666;
}
#content #polls.index .node .poll a,
#content #polls.index .node .poll a:visited,
#content #polls.index .node .responses a,
#content #polls.index .node .responses a:visited {
  color: black;
  text-decoration: none;
}

#content #poll_form_area .title {
  margin-top: 1em;
}
#content #poll_form_area .title label {
  font-size: 120%;
}

#options p.option {
  margin-bottom: 1em;
}
#options .error-with-field {
  margin-top: -1em;
}
#options .delete {
  margin: 0 0.5em;
}
#content .form-area p#add-option {
  margin-top: 1em;
}

#poll_start_date {
  position: relative;
}
table.calendar {
  background: white;
  border: 1px solid black;
}
table.calendar td {
  background: white;
  border: 1px solid #eee;
  padding: 2px;
  text-align: right;
}
table.calendar td.today a {
  color: red !important;
}
table.calendar td.back, table.calendar td.forward {
  background: #ddd;
}
table.calendar th {
  background: #eee;
}
table.calendar a {
  color: black;
  text-decoration: none;
}
table.calendar tbody tr:last-child td {
  border-bottom: 1px solid black;
}
table.calendar tbody tr td:first-child {
  border-left: 1px solid black;
}
table.calendar tbody tr td:last-child {
  border-right: 1px solid black;
}
