<% include_javascript 'polls' %>
<h1>Edit Poll</h1>

<% form_for :poll, @poll, :url => {:action => :update, :id => @poll.id } do |f| -%>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <%= submit_tag 'Save' %>
  <%= link_to 'Cancel', :action => :index %>
<% end -%>
