<% include_javascript 'polls' %>
<h1>Edit Poll</h1>

<% form_for [ :admin, @poll ] do |f| -%>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <%= submit_tag 'Save' %>
  <%= link_to 'Cancel', admin_polls_url %>
<% end -%>
